body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(109, 109, 182);
  }

  /* apply styles to <header> */
header {
    padding: 20px 35px;
    
  }

  h1{
      text-color: white;
      
  }